
<section class="section">

  <div style="uk-flex uk-flex-center">
    <div class="uk-flex uk-flex-row uk-flex-center">
      <div style="width: 360px; background-color: #01579B; padding: 2rem; margin-top: 3rem;">
        <div class="uk-flex uk-flex-column" style="text-align: center;">
          <div style="color: white;">In order to continue you have to authorize with bungie</div>
          <div style="margin-top: 2rem"></div>
          <%= link_to 'Authorize with Bungie', @login_url, style:"padding: 1rem; background-color: #F57F17; color: black;" %>
        </div>
      </div>
    </div>
  </div>
    
</section>
