<section class="section">
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= current_user.membership_id %>

<br>

<%= link_to 'Log out', logout_path, class: 'navbar-item', method: :delete %>
</section>
