.exotic-bcg{
  background-color: #cead32
}

.legendary-bcg{
  background-color: #522e65;
}

.rare-bcg{
  background-color: #5075a3;
}

.common-bcg{
  background-color: #c1bcb6;
}

.uncommon-bcg{
  background-color: #356f42;
}


.is-completed{
  outline-style: solid;
  outline-color: yellow;
  outline-width: 1px;
}